.list-text  {
    font-size: 14px;
    font-weight: 500;
    color: #a2a2a2;
}

.job-searches-list  >   li  {
    display: inline;
}

.job-description    {
    font-weight: 600;
    color: #0A66C2;
}

.job-company    {
    font-size: 14px;
    color: #a4a4a4;
}

.recruitment-status {
    font-size: 12px;
    color: #a4a4a4;
}

.time   {
    color: #257642;
    font-size: 12px;
    font-weight: 600;
}

.time-status    {
    font-size: 12px;
    color: #a4a4a4;
}

.see-all    {
    color: #0A66C2;
    font-weight: 600;
}

.improve-resume {
    background: #eef3f8;
}

.show-more  {
    background: white;
    border: white;
}