.learn-more-link    {
    text-decoration: none;
}

.add-personal-contacts  {
    text-align: center;
}

.continue-button    {
    background: white;
    color: #0A66C2;
    border: solid #0A66C2 1px;
    border-radius: 50px;
    font-weight: 600;
    width: 30%;
}

.more-options   {
    color: #c4c4c4;
    font-size: 12px;
}

.ignore-button  {
    background: none;
    border: none;
    color: #c4c4c4;
}

.show-more  {
    color: #0a66c2;
    font-weight: 600;
}

.close-button   {
    position: relative;
    right: 0px;
    left: 175px;
    top: -70px;
}

.main-content   {
    min-height: 900px;
    overflow: hidden;
}