body {
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-evenly;
    padding-top: inherit;
}

.header-content {
    height: 60px;
}

.ms-n5 {
    margin-left: -40px;
}

.left {
    height: 35px;
}

.navbar-links   {
    text-align: center;
    color: #525252;
    text-decoration: none;
}

.navbar-links:hover {
    color: black;
}

.navbar-links.active {
    color: black;
    border-bottom: 1px solid black;
}

.border-right   {
    border-right: 1px solid grey;
    padding-right: 40px;
}

/* Header END */

.main-content   {
    background: #F3F2EF;
    /* height: 1200px; */
}

/* Card START */
.default-background  {
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45px;
}

.user-icon  {
    position: relative;
    left: calc(50% - 30px);
    top: 50%;
    border: solid white 5px;
    border-radius: 35px;
}

.font-weight-bold    {
    font-weight: 600;
}

.custom-border  {
    border-bottom: solid #e4e4e4 1px;
}

.custom-paragraph   {
    color: #c4c4c4;
    font-weight: 500;
}

.custom-paragraph-2 {
    color: #787878;
    font-weight: 500;
}

.custom-paragraph-blue  {
    color: #004182;
    font-weight: 600;
}

.bookmark-text  {
    font-weight: 600;
}

.card-content   {
    padding-top: 3rem;
}

.discover-more  {
    text-align: center;
    border-top: solid 1px #c4c4c4;
}

.footer {
    background: none;
    border: none;
}

.footer-ul  {
    display: inline;
    list-style-type: none;
}

.footer-a   {
    color: black;
    text-decoration: none;
}

.footer-ul  >   li  {
    display: inline-block;
    font-size: small;
}

.start-a-post   {
    border-radius: 50px;
    border: solid #c4c4c4 1px;
    margin-right: 5px;
}

.post-ul    {
    padding-top: 5px;
}

.list-text  {
    color: #c4c4c4;
    font-weight: 500;
}

.posted-by-details  {
    font-size: 11px;
}

.vote-button    {
    border-radius: 50px;
    background: white;
    border: solid #004182 1.5px;
    color: #004182;
    font-weight: 600;
}

.advertisement  {
    object-fit: contain;
    width: 100%;
}

.text-background    {
    background: #EEF3F8;
}

.learn-more {
    background: white;
    border-radius: 50px;
    border: solid #0A66C2 1px;
    color: #0A66C2;
    font-size: 14px;
    font-weight: 600;
}

.advertisement-text {
    color: #c4c4c4;
    font-size: small;
}
/* Card END */